<!doctype html>
<html lang="ar">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />
        
        <!--  fonts -->

        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Open+Sans:wght@300;400&family=Tajawal:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,400;1,200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;1,200&display=swap" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/frontEnd/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/frontEnd/assets/css/main.css" />
        <link rel="stylesheet" href="/frontEnd/assets/slick/slick.css">
        <link rel="stylesheet" href="/frontEnd/assets/slick/slick-theme.css">
        <title><%= title %></title>

